body { 
 background: lightpurple;
}
h1{
    font-weight: 300;
    font-family: "Arial";
    text-align: center;
    text-decoration:underline;
h2
    font-family: "Arial" ;
    text-decoration:underline;
}